main {
	width: 100%;
}
main img {
	width: 100%;
}
h3 {
	margin-bottom: 4px;
}
section#credits {
	z-index: 1000;
}
.zooms {
	
}
.zoom {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 200px;
	border: 1px solid red;
}

.clickable-image {
	position: relative;
}
.clickable-image svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.clickable-image svg g {
	cursor: pointer;
}
.clickable-image svg rect {
	stroke: red;
	stroke-width: 4px;
	fill: red;
	fill-opacity: 0.7;
	transition: fill-opacity 0.5s;
}
.clickable-image svg:hover rect {
	fill: white;
	fill-opacity: 0.4;
}
.clickable-image svg text {
	font-size: 25px;
	alignment-baseline: central;
	fill: white;
	text-anchor: middle;
}
.clickable-image svg #map-button text {
	font-size: 15px;
	text-anchor: end;
}