#app {
	max-width: 300px;
}
main {
	width: 300px;
}
main img {
	width: 300px;
}
h3 {
	margin-bottom: 4px;
}

section#credits {
	z-index: 1000;
}
.zoom {
	width: 100%;
	height: 300px;
	margin-top: 25px;
	margin-bottom: 400px;
	border: 0px solid red;
}
#zoomsix {
	margin-bottom: 150px;
}
footer {
	margin-bottom: 200px;
}
.lastforward {
	display: none;
}
.cls-2{
	fill:#ffcb05;
	}
.cls-3{
	fill:#49479d;
	}
.cls-2:hover{
	fill: #ffe17f;
}
.cls-3:hover {
	fill: #8781bd;
}

.clickable-image {
	position: relative;
}
.explain {
	font-size: 1.5rem;
	line-height: 18px;
	font-weight: bold;
	color: black;
}
#firstExplain {
	position: absolute;
	top: 300px;
	left: 10px;
	padding: 2px 4px;
}
#overviewExplain {
	position: absolute;
	top: 300px;
	left: 10px;
}
#threeExplain {
	position: absolute;
	top: 300px;
	left: 10px;
}
#threeExplain2 {
	position: absolute;
	top: 360px;
	left: 10px;
    }
#fourExplain {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #ffcb05;
}
#fourExplain2 {
	position: absolute;
	top: 230px;
	left: 20px;
	color: #ffcb05;
}
#fiveExplain {
	position: absolute;
	top: 10px;
	left: 20px;
	right: 10px;
	color: #ffcb05;
}
#fiveExplain2 {
	position: absolute;
	top: 230px;
	left: 20px;
	right: 20px;
	color: #ffcb05;
	padding: 2px 4px;
	background-color: rgba(34, 49, 56, 0.6);
}
#sixExplain {
	position: absolute;
	top: 10px;
	left: 20px;
	right: 10px;
	color: #ffcb05;
	padding: 2px 4px;
	background-color: rgba(34, 49, 56, 0.6);
}
#sixExplain2 {
	position: absolute;
	top: 230px;
	left: 20px;
	right: 20px;
	color: #ffcb05;
	padding: 2px 4px;
	background-color: rgba(34, 49, 56, 0.6);
}

.clickable-image svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.clickable-image svg g {
	cursor: pointer;
}
.clickable-image svg rect {
	stroke: #942C61;
	stroke-width: 4px;
	fill: #942C61;
	fill-opacity: 0.7;
	transition: fill-opacity 0.5s;
}
.clickable-image svg:hover rect {
	fill: white;
	fill-opacity: 0.4;
}
.clickable-image svg text {
	font-size: 25px;
	alignment-baseline: central;
	fill: white;
	text-anchor: middle;
}
.clickable-image svg #map-button text {
	font-size: 15px;
	text-anchor: end;
}